[submodule "securityUtilities"]
	path = securityUtilities
	url = git@code.siemens.com:mo_mm_linux_distribution/securityUtilities.git
[submodule "cmpossl"]
	path = cmpossl
	url = https://github.com/mpeylo/cmpossl.git
