.*
!.git*
*~
*_
*.pdf
*.crl
*.log
*.deb
*.dsc
*.d
*.o
*.so
*.so.*
*.dll
*.exe
mk
attic
tmp/
bak/
share/
doc/
reports/cpputest/*
libSecUtils.so
libsecurityutilities*
example/example4
tests/component/secUtils_Verification
creds/new.*
cmpClient
