[submodule "libsecutils"]
	path = libsecutils
	url = https://github.com/siemens/libsecutils.git
[submodule "cmpossl"]
	path = cmpossl
	url = https://github.com/mpeylo/cmpossl.git
[submodule "LightweightCmpRa"]
	path = LightweightCmpRa
	url = https://github.com/siemens/LightweightCmpRa.git
[submodule "cmp-ra-component"]
	path = cmp-ra-component
	url = https://github.com/siemens/cmp-ra-component.git
[submodule "atg"]
	path = atg
	url = https://code.siemens.com/ct-rda-cst-ses-de/remote-attestation/base-functionality/attestation-token-generator.git

