.*
!.git*
*~
tmp.*
t.*
*.diff
*.orig
*.rej
*_
*.pdf
*.crl
*.log
*.deb
*.dsc
*.d
*.o
*.so
*.so.*
*.dll
*.exe
*.jar
*.zip
*.gz
mk
attic
/*.der
/*.pem
/*.p12
tmp/
admin/
bak/
bin/
build/
certs/
doc/
debian/files
debian/libgencmpcl*/
debian/*.substvars
lib/
libsecutils_1.0_amd64.*
run/
share/
stage/
test
securityUtilities*/
reports/cpputest/*
libSecUtils.so
libsecurityutilities*
libsecutils_*
example/example4
tests/component/secUtils_Verification
creds/new.*
cmpClient
