.*
!.git*
*~
tmp.*
t.*
*.diff
*.orig
*.rej
*_
*.pdf
*.crl
*.log
*.deb
*.dsc
*.d
*.o
*.so
*.so.*
*.dll
*.exe
*.jar
*.zip
*.gz
mk
CMakeCache.txt
Makefile
*.cmake
install_manifest*.txt
compile_commands.json
changelog.gz
*.1
*.1.gz
CMakeFiles/
_CPack_Packages/
attic/
/*.der
/*.pem
/*.p12
tmp/
admin/
bak/
bin/
build/
certs/
/*.cnf
/*.crt
/*.key
Mock
Insta
Simple
!doc/cmpClient.pod
doc/cmpClient.md
lib/
run/
share/
stage/
80-test_cmp_http_data
SimpleLra
cmp-ra-component*/
seccmp_lib
securityUtilities*/
reports/cpputest/*
include/genericCMPClient_config.h
libsecutils.*
libSecUtils.so
libsecurityutilities*
libsecutils_*
example/example4
tests/component/secUtils_Verification
creds/new.*
cmpClient

*.build
*.buildinfo
*.changes
debian/.debhelper
debian/debhelper-build-stamp
debian/files
debian/tmp
debian/libgencmp
debian/libgencmp-dev
debian/cmpclient
debian/*.substvars
libsecutils{_,-}*
libcmp{_,-}*

config/EJBCA.env
config/demo_oc.di.cnf
creds/CloudflareIncECCCA-3.crt
creds/Dev_CMP_*
creds/PPKI_Playground_*
creds/cacerts.pem
creds/extracerts.pem
creds/manufacturer.*
creds/new_req.csr
creds/operational.*
creds/test.*
creds/trusted/ATCS*
creds/trusted/BaltimoreCyberTrustRoot2000.crt
creds/www.insta.fi.*
creds/Connector_Infrastructure_CA_*
creds/LDevID_Issuing_CA_v2_*
creds/trusted/Manufacturer_Root_CA_*
