Source: libgencmp
Section: libs
Priority: optional
Maintainer: David von Oheimb <David.von.Oheimb@siemens.com>
Build-Depends: libsecutils-dev (= ${binary:Version}), libssl-dev, debhelper (>= 10), devscripts, cmake
Homepage: https://github.com/siemens/genCMPClient
Standards-Version: 4.5.1

Package: libgencmp2
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Section: libs
Description: generic CMP client library
 This provides a high-level API for CMP clients based on OpenSSL.

Package: libgencmp-dev
Depends: libgencmp2 (= ${binary:Version}), libsecutils-dev, ${misc:Depends}, libssl-dev
Section: devel
Architecture: any
Description: libgencmp C headers and documentation
 Development support for libgencmp and cmpclient

Package: cmpclient
Depends: libsecutils2 (= ${binary:Version}), ${shlibs:Depends}, ${misc:Depends}
Section: utils
Architecture: any
Description: CMP client command-line interface
 A CLI application for exploring the use of the generic CMP client library
