Source: libgencmpcl
Section: libs
Priority: optional
Maintainer: David von Oheimb <David.von.Oheimb@siemens.com>
Build-Depends: git, autotools-dev, libssl-dev, pkg-config, debhelper (>= 9)
Standards-Version: 4.0.0
Homepage: https://github.com/siemens/genCMPClient

Package: libgencmpcl
Architecture: any
Depends: libcmp, ${misc:Depends},
Description: generic CMP client library
 Generic CMP client library based on CMPforOpenSSL

Package: libgencmpcl-dev
Section: libdevel
Architecture: all
Depends: libgencmpcl, ${misc:Depends}
Description: generic CMP client library headers
 only needed for development

