#!/usr/bin/make -f

# rules for Debian packaging of libgencmpcl

CC=$(DEB_HOST_GNU_TYPE)-gcc
CXX=$(DEB_HOST_GNU_TYPE)-g++
AR=$(DEB_HOST_GNU_TYPE)-ar

%:
	dh $@

override_dh_auto_build:
	OPENSSL_DIR=/usr CC=$(CC) CXX=$(CXX) AR=$(AR) \
	  CFLAGS="-O2 -DNDEBUG" CXXFLAGS="-O2 -DNDEBUG" DEBUG_FLAGS="" LDFLAGS="" \
          dh_auto_build -- build_only

override_dh_auto_test:
# do not run any tests

LIBDIR=debian/tmp/usr/lib
override_dh_auto_install:
	OPENSSL_DIR=/usr dh_auto_install
	@# prevent some confusing lintian errors and warnings:
	@# mv $(LIBDIR)/libgencmpcl.so $(LIBDIR)/libgencmpcl.so.0
	@# ln -sr $(LIBDIR)/libgencmpcl.so.0 $(LIBDIR)/libgencmpcl.so
	#$(MAKE) headers_install DESTDIR=debian/libgencmpcl-dev ROOTFS=debian/libgencmpcl-dev

#override_dh_builddeb:
#	dh_builddeb --destdir . --
