# GitHub Actions for genCMPClient
# SPDX-License-Identifier: Apache-2.0
# Copyright (c) Siemens AG, 2021-2023

name: CI

on: push

jobs:
  cmake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: cmake
        run: |
          cmake .
          make
          mkdir build
          cd build
          cmake -S .. -B .
          cmake --build .
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make clean build
          cd ..
          mkdir build-with-libcmp
          cd build-with-libcmp
          USE_LIBCMP=1 cmake -S .. -B .
          make clean build
          DESTDIR=tmp make install uninstall
          make deb

  build_doc_this:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: build_doc_this
        run: |
          # would need access to azure.archive.ubuntu.com:
          # sudo apt-get update
          # sudo apt-get install -y >/dev/null libssl-dev build-essential # not needed
          make -f Makefile_v1
          make -f Makefile_v1 clean_all
          USE_LIBCMP=1 STATIC_LIBCMP=1 make -f Makefile_v1 build_no_tls
          make -C libsecutils -f Makefile_v1 clean_config
          SKIP_pod2markdown=1 make -f Makefile_v1 doc_this
          SKIP_pod2markdown=1 DESTDIR=tmp make -f Makefile_v1 install
          DESTDIR=tmp make -f Makefile_v1 uninstall

  test_all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: test_all
        run: |
          # would need access to azure.archive.ubuntu.com:
          # sudo apt-get update
          # sudo apt-get install -y >/dev/null libssl-dev build-essential # not needed
          USE_LIBCMP=1 make -f Makefile_v1 build_prereq test_all

  doc_deb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: doc_deb
        run: |
          # needs access to azure.archive.ubuntu.com:
          sudo apt-get update
          sudo apt-get install -y >/dev/null libpod-markdown-perl
          sudo apt-get install -y >/dev/null doxygen graphviz # needed only for recursive 'make doc' in libsecutils
          make -f Makefile_v1 doc # ensures presence of cmpClient.md
          echo
          echo ************************* doc finished *************************
          echo
          sudo apt-get install -y >/dev/null debhelper devscripts
          make -f Makefile_v1 deb
