# GitHub Actions for genCMPClient
# SPDX-License-Identifier: Apache-2.0
# Copyright (c) Siemens AG, 2021-2023

name: CI

on: push

jobs:
  cmake:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: cmake
        run: |
          cmake .
          make
          make clean_all

          mkdir build
          cd build
          cmake -S .. -B .
          cmake --build .
          cmake -DCMAKE_BUILD_TYPE=Release ..
          make clean build
          cd ..

          mkdir build-with-libcmp
          cd build-with-libcmp
          USE_LIBCMP=1 cmake -S .. -B .
          make clean build
          DESTDIR=tmp make install
          make deb                       # critical to make clean and install with DESTDIR=tmp before!
          DESTDIR=tmp make uninstall

  Makefile_v1:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Makefile_v1
        run: |
          # would need access to azure.archive.ubuntu.com:
          # sudo apt-get update
          # sudo apt-get install -y >/dev/null libssl-dev build-essential # not needed
          make -f Makefile_v1
          USE_LIBCMP=1                 make -f Makefile_v1 clean build_no_tls
          USE_LIBCMP=1 STATIC_LIBCMP=1 make -f Makefile_v1 clean build_no_tls
          make -C libsecutils -f Makefile_v1 clean_config
          SKIP_pod2markdown=1 DESTDIR=tmp make -f Makefile_v1 install uninstall
          make -f Makefile_v1 clean_all

  test_all:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Fix kernel mmap rnd bits
      # Asan in llvm 14 provided in ubuntu 22.04 is incompatible with
      # high-entropy ASLR in much newer kernels that GitHub runners are
      # using leading to random crashes: https://reviews.llvm.org/D148280
        run: sudo sysctl vm.mmap_rnd_bits=28
      - name: test_all
        run: |
          # would need access to azure.archive.ubuntu.com:
          # sudo apt-get update
          # sudo apt-get install -y >/dev/null libssl-dev build-essential # not needed
          # USE_LIBCMP=1 make -f Makefile_v1 test_Mock OPENSSL_CMP_ASPECTS=credentials V=1 # can be helpful for debugging
            USE_LIBCMP=1 make -f Makefile_v1 test_all

  doc_deb:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: doc_deb
        run: |
          # needs access to azure.archive.ubuntu.com:
          sudo apt-get update
          sudo apt-get install -y >/dev/null libpod-markdown-perl
          sudo apt-get install -y >/dev/null doxygen graphviz # needed only for recursive 'make doc' in libsecutils
          make -f Makefile_v1 doc # ensures presence of cmpClient.md
          echo
          echo ************************* doc finished *************************
          echo
          sudo apt-get install -y >/dev/null debhelper devscripts
          make -f Makefile_v1 deb
